@font-face {
  font-family: cascadia;
  src: url("../font/CascadiaCode.ttf");
}
@font-face {
  font-family: pingfangSC;
  src: url("../font/PingFangSC.ttf");
}
* {
  font-family: pingfangSC;
}
html,
body {
  margin: 0;
  padding: 0;
  padding-top: 30vh;
  background-color: #fff;
  background-image: url("../img/system-img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
