* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  text-decoration: none;
}
.menu .menu-container {
  border-radius: 1rem;
  background-color: #191919ee;
  width: 1200px;
  margin: 0 auto 1rem;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 600px;
}
.menu .menu-container li {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
}
.menu .menu-container li a {
  display: block;
  width: 100%;
}
.menu .menu-container li a span {
  opacity: 0.5;
  font-size: 0.8rem;
}
.menu .menu-container li a:hover {
  text-decoration: underline;
}
