header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.header .head1 {
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #8c8c8c;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl {
  width: 183px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .city {
  width: 72px;
  height: 30px;
  text-indent: 2em;
  position: relative;
  border: 1px solid transparent;
}
.header .head1 .fl .city .bai {
  width: 445px;
  height: 238px;
  position: absolute;
  top: 30px;
  left: -1px;
  background-color: white;
  border: 1px solid #d2d2d2;
  display: none;
  z-index: 1;
}
.header .head1 .fl .city .zhong {
  width: 72px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 10;
}
.header .head1 .fl .city:hover .zhong {
  display: block;
}
.header .head1 .fl .city:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid #d2d2d2;
}
.header .head1 .fl .city:hover .bai {
  display: block;
}
.header .head1 .fl .city::after {
  content: "";
  width: 20px;
  height: 26px;
  background: url(../img/header/1.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 3px;
}
.header .head1 .fl .info {
  width: 96px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .info i a {
  color: #f42828;
}
.header .head1 .fl .info span a {
  color: #8c8c8c;
}
.header .head1 .fl .info span a:hover {
  color: #f42828;
}
.header .head1 .spa {
  width: 374px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo {
  width: 62px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.header .head1 .spa .fm {
  position: relative;
}
.header .head1 .spa .fm::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: -5px;
}
.header .head1 .spa .fuo:last-child p {
  background: url(../img/header/2.png) no-repeat;
  width: 14px;
  height: 9px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 2px;
}
.header .head1 .spa .fuo a {
  color: #8c8c8c;
}
.header .head1 .spa .fuo a:hover {
  color: #f42828;
}
.header .head1 .spa .fuo:last-child {
  width: 82px;
  text-align: start;
  text-indent: 1em;
  color: #8c8c8c;
  border: 1px solid transparent;
}
.header .head1 .spa .fuo:last-child .xia {
  width: 380px;
  height: 0px;
  position: absolute;
  background-color: #fff;
  top: 30px;
  right: -1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
.header .head1 .spa .fuo:last-child:hover {
  border: 1px solid #d2d2d2;
  background-color: white;
}
.header .head1 .spa .fuo:last-child:hover .xia {
  height: 158px;
  border: 1px solid #d2d2d2;
}
.header .head1 .spa .fuo:last-child .zx {
  width: 82px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 99;
}
.header .head1 .spa .fuo:last-child:hover .zx {
  display: block;
}
.header .head1 .spa .fuo:last-child .xia .mian {
  width: 380px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu {
  width: 116px;
  height: 120px;
  border-right: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes {
  width: 85px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes:first-child {
  font-weight: 700;
  color: #666;
}
.header .head1 .spa .fuo:last-child .xia .mian span:hover {
  color: #f42828;
  cursor: pointer;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu {
  width: 225px;
  height: 120px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh {
  width: 225px;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh span {
  width: 75px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh:first-child {
  font-weight: 700;
  color: #666;
}
header {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  background-color: #fff;
}
header .header1 {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
header .header1 .logo {
  width: 189px;
  height: 57px;
  padding: 21.5px 0px;
  float: left;
}
header .header1 .logo .logo1 {
  width: 159px;
  height: 57px;
}
header .header1 .inp {
  width: 546px;
  height: 64px;
  float: left;
  margin: 30px 0 0 78px;
  position: relative;
}
header .header1 .inp .inp1 {
  width: 546px;
  height: 34px;
}
header .header1 .inp .inp1 input {
  font-size: 12px;
  width: 394px;
  height: 30px;
  border: 2px solid #f42424;
  outline: 0;
  text-indent: 1em;
  float: left;
}
header .header1 .inp .inp1 button {
  width: 70px;
  height: 34px;
  line-height: 34px;
  background-color: #f42424;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 0;
  float: left;
}
header .header1 .inp .inp1 button:nth-child(3) {
  margin-left: 8px;
  background-color: #b31919;
}
header .header1 .inp ul {
  width: 546px;
  height: 30px;
}
header .header1 .inp ul li {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  font-size: 12px;
}
header .header1 .inp ul li a {
  color: #999;
}
header .header1 .inp ul li a:hover {
  color: #e23435;
}
header .header1 .inp2 {
  width: 180px;
  height: 35px;
  margin-top: 30px;
  float: right;
  position: relative;
}
header .header1 .inp2 div:nth-child(1) {
  width: 178px;
  height: 33px;
  line-height: 33px;
  position: relative;
  border: 1px solid #d2d2d2;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(1) a {
  display: block;
  color: #f42424;
}
header .header1 .inp2 div:nth-child(1) a i {
  width: 20px;
  height: 22px;
  margin-top: 5.5px;
  margin-left: 30px;
  font-size: 20px;
  float: left;
  display: inline;
  background: url(../img/header/购物车.png) no-repeat 0 0;
  background-size: contain;
}
header .header1 .inp2 div:nth-child(1) a span {
  margin-left: 8px;
}
header .header1 .inp2 div:nth-child(1) a em {
  width: 13px;
  height: 13px;
  line-height: 13px;
  padding: 1px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 122px;
  text-align: center;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(2) {
  width: 256px;
  height: 68px;
  background-color: red;
  border: 1px solid #d2d2d2;
  padding: 20px 20px 20px 36px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
  display: none;
}
header .header1 .inp2 div:nth-child(2) b {
  width: 110px;
  height: 68px;
  background: url(../img/header/cart-nogoods.png) no-repeat;
  display: block;
  float: left;
}
header .header1 .inp2 div:nth-child(2) p {
  width: 178px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 134px;
}
header .header1 .inp2 div:nth-child(2) span {
  float: left;
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  margin: 6px 0 0 14px;
  line-height: 25px;
  width: 132px;
}
header .header1 .inp2:hover .block {
  display: block;
}
.header-links {
  width: 100%;
  border-bottom: 2px solid #f42424;
}
.header-links * {
  margin: 0;
  padding: 0;
  color: #333;
  text-decoration: none;
}
.header-links .header-links-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.header-links .header-links-container * {
  box-sizing: border-box;
  height: 42px;
}
.header-links .header-links-container .header-btn {
  width: 232px;
  height: 42px;
  background-color: #f42424;
  position: relative;
}
.header-links .header-links-container .header-btn > p.title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
}
.header-links .header-links-container > ul > li {
  height: 40px;
  display: inline-block;
  line-height: 40px;
  margin-left: 36px;
}
.header-links .header-links-container > ul > li.active a {
  color: #e23435;
}
.header-links .header-links-container > ul > li:hover a {
  color: #e23435;
}
.shop_left {
  width: 232px;
  height: 500px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 183px;
  left: 352px;
  box-sizing: content-box;
  z-index: 999;
  display: none;
}
.shop_left * {
  box-sizing: content-box;
}
.shop_left li {
  padding: 14.5px 16px;
  float: left;
  width: 200px;
  height: 42px;
}
.shop_left li:hover {
  background-color: #000;
}
.shop_left li:hover {
  background-color: #000000;
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  color: #bfbfbf;
  -webkit-font-smoothing: antialiased;
}
.shop_left li .shop {
  float: right;
  margin-left: 10px;
  width: 173px;
}
.shop_left li .shop > p > a {
  color: #bfbfbf;
  margin-right: 10px;
  font-size: 14px;
}
.shop_left li .shop p:nth-child(1) > a {
  color: #fff;
  font-size: 14px;
  margin-right: 0px;
}
.shop_left li .shop a:hover {
  color: red;
}
.shop_left li .shop p:nth-child(1) > a:hover {
  color: red;
}
.shop_left li .shop_d {
  position: absolute;
  top: 0;
  left: 232px;
  width: 968px;
  height: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: top 0.25s ease;
  transition: top 0.25s ease;
  z-index: 99;
  padding: 20px 20px 28px 18px;
  box-sizing: border-box;
  display: none;
}
.shop_left li:hover .shop_d {
  display: block;
}
.shop_left li .shop_d .shop_name {
  float: left;
  width: 704px;
  height: 100%;
}
.shop_left li .shop_d .shop_name .shop_top {
  overflow: hidden;
  height: 24px;
  width: 100%;
}
.shop_left li .shop_d .shop_name .shop_top > a {
  float: left;
  margin-right: 10px;
  padding: 0 10px 0 12px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #5f4f4f;
}
.shop_left li .shop_d .shop_name .shop_bot {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
}
.shop_left li .shop_d .shop_name .shop_bot dl {
  padding-left: 80px;
  position: relative;
}
.shop_left li .shop_d .shop_name .shop_bot dl dt {
  overflow: hidden;
  position: absolute;
  color: #555;
  left: 0;
  top: 13px;
  width: 70px;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shop_left li .shop_d .shop_name .shop_bot dl dd {
  padding: 8px 0;
  overflow: hidden;
  border-bottom: 1px dashed #d2d2d2;
  min-height: 28px;
}
.shop_left li .shop_d .shop_name .shop_bot dl dd a {
  float: left;
  margin: 8px 0;
  padding: 0 10px;
  height: 12px;
  border-left: 1px solid #e0e0e0;
  line-height: 12px;
  white-space: nowrap;
}
.shop_left li .shop_d .shop_name .shop_bot dl a:hover {
  color: red;
}
.shop_left li .shop_d .shop_img {
  float: right;
  width: 200px;
  height: 100%;
}
.shop_left li .shop_d .shop_img span {
  width: 50%;
  height: 50px;
  display: block;
  float: left;
  border: 1px solid #f9f9f9;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
.shop_left li .shop_d .shop_img span a img {
  width: 100%;
  height: 100%;
}
.shop_left li .shop_d .shop_img .shop_img_btn {
  cursor: pointer;
}
.txt_top {
  width: 1200px;
  /* background: url(../img/announcement/article_bg.jpg) no-repeat center center; */
  height: 100px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.txt_top > img {
  position: absolute;
  width: 1920px;
  left: -330px;
}

.txt_top > h2 {
  font-size: 28px;
  position: absolute;
  left: 0;
  color: #fff;
  line-height: 100px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0 100px;
  background-color: #f8f8f8;
}

.form-ser {
  text-align: center;
  margin-bottom: 20px;
}

.form-ser input {
  width: 500px;
  height: 28px;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  border-radius: 24px 0 0 24px;
  border: 0;
}

.form-ser .serc {
  width: 114px;
  height: 48px;
  line-height: 40px;
  color: #fff;
  background-color: #f42424;
  border: 0;
  border-radius: 0 24px 24px 0;
  font-size: 18px;
  outline: 0;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 15px;
}

.sect_r-info {
  position: absolute;
  display: none;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  top: 98px;
  width: 312px;
  right: 364px;
  z-index: 10;
}

.sect_r-info .crx-prompt {
  padding: 20px 20px 20px 36px;
}

.sect_r-info .crx-prompt .crx-nogoods {
  overflow: hidden;
}

.sect_r-info .crx-prompt i {
  float: left;
  display: block;
  width: 110px;
  height: 68px;
  background: url("https://x.dscmall.cn/themes/ecmoban_dsc2017/images/cart-nogoods.png")
    no-repeat;
}

.sect_r-info .crx-prompt .fli {
  float: left;
  color: #8c8c8c;
  margin: 6px 0 0 14px;
  line-height: 28px;
  width: 132px;
}

.sect_r:hover .sect_r-info {
  display: block;
}

.form-ser svg {
  position: absolute;
  top: 14px;
  left: 7px;
}

.artile {
  display: flex;
  justify-content: space-between;
}

.artile .artile_fl {
  width: 230px;
  margin-right: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.artile .artile_fl div:nth-child(1) {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background: #333333;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.artile .artile_fl ul li {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  padding: 0 20px;
}

.artile .artile_fl ul li::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 7px;
  right: 10px;
  transform: rotate(45deg);
}

.artile .artile_fl ul .li-art::after {
  border-top: 1px solid #8c8c8c;
  border-left: 1px solid #8c8c8c;
  transition: all 0.2s;
}

.artile .artile_fl ul .two {
  display: none;
}

.artile .artile_fl ul .art_li::after {
  border-right: 1px solid #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
}

.artile .artile_fl ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #555;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artile .artile_fl ul li a:hover {
  color: red;
}

.li-art:hover::after {
  transform: rotate(225deg);
}

/* 二级导航公告 */

.WB {
  width: 910px;
  background: #fff;
  height: 250px;
  padding: 26px 20px 0;
}

.WB_1 {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

/* active */

.artile_fr {
  /* float: left; */
  width: 100%;
  /* display: none; */
  background: #fff;
}

.artile_fr span {
  font-size: 21px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artile_fr ul li p::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #dae2f2;
  border-radius: 50%;
  left: 0;
  top: 24px;
}

.artile_fr ul li {
  border-top: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
}

.artile_fr ul li a {
  color: #555;
  line-height: 30px;
}

.artile_fr ul li a:hover {
  color: red;
}

/* 二级导航 微分销 */

.artile_fr1 {
  /* float: left; */
  width: 100%;
  display: none;
  background: #fff;
}

.artile_fr1 span {
  font-size: 21px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artile_fr1 ul li p::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #dae2f2;
  border-radius: 50%;
  left: 0;
  top: 24px;
}

.artile_fr1 ul li {
  border-top: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
}

.artile_fr1 ul li a {
  color: #555;
  line-height: 30px;
}

/* 公司新闻 */

.artile_fr2 {
  /* float: left; */
  width: 100%;
  display: none;
  background: #fff;
}

.artile_fr2 span {
  font-size: 21px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 二级分类 */

.artile_fr3 {
  /* float: left; */
  width: 100%;
  display: none;
  background: #fff;
}

.artile_fr3 span {
  font-size: 21px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artile_fr3 ul li p::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #dae2f2;
  border-radius: 50%;
  left: 0;
  top: 24px;
}

.artile_fr3 ul li {
  border-top: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
}

.artile_fr3 ul li a {
  color: #555;
  line-height: 30px;
}

/*商家入驻流程说明  */

.artile_fr4 {
  /* float: left; */
  width: 100%;
  display: none;
  background: #fff;
}

.artile_fr4 span {
  font-size: 21px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artile_fr4 ul li p::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #dae2f2;
  border-radius: 50%;
  left: 0;
  top: 24px;
}

.artile_fr4 ul li {
  border-top: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
}

.artile_fr4 ul li a {
  color: #555;
  line-height: 30px;
}

/* 商城公告 */

.artile_fr5 {
  /* float: left; */
  width: 100%;
  background: #fff;
}

.artile_fr5 span {
  font-size: 21px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artile_fr5 ul li p::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #dae2f2;
  border-radius: 50%;
  left: 0;
  top: 24px;
}

.artile_fr5 ul li {
  border-top: 1px solid #eee;
  padding: 10px 20px;
  position: relative;
}

.artile_fr5 ul li a {
  color: #555;
  line-height: 30px;
}
