header * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    box-sizing: content-box;
}

.header * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    box-sizing: content-box;
}

.header {
    width: 100%;
    height: 30px;
    background-color: #eee;
}

.header .head1 {
    width: 1200px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #8c8c8c;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .head1 .fl {
    width: 183px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.header .head1 .fl .city {
    width: 72px;
    height: 30px;
    text-indent: 2em;
    position: relative;
    border: 1px solid transparent;
}

.header .head1 .fl .city .bai {
    width: 445px;
    height: 238px;
    position: absolute;
    top: 30px;
    left: -1px;
    background-color: white;
    border: 1px solid #d2d2d2;
    display: none;
    z-index: 1;
}

.header .head1 .fl .city .zhong {
    width: 72px;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0px;
    display: none;
    background-color: white;
    z-index: 10;
}

.header .head1 .fl .city:hover .zhong {
    display: block;
}

.header .head1 .fl .city:hover {
    background-color: white;
    cursor: pointer;
    border: 1px solid #d2d2d2;
}

.header .head1 .fl .city:hover .bai {
    display: block;
}

.header .head1 .fl .city::after {
    content: "";
    width: 20px;
    height: 26px;
    background: url(../img/header/1.png) no-repeat;
    position: absolute;
    top: 0px;
    left: 3px;
}

.header .head1 .fl .info {
    width: 96px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.header .head1 .fl .info i a {
    color: #f42828;
}

.header .head1 .fl .info span a {
    color: #8c8c8c;
}

.header .head1 .fl .info span a:hover {
    color: #f42828;
}

.header .head1 .spa {
    width: 374px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.header .head1 .spa .fuo {
    width: 62px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.header .head1 .spa .fm {
    position: relative;
}

.header .head1 .spa .fm::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #ccc;
    position: absolute;
    top: 10px;
    left: -5px;
}

.header .head1 .spa .fuo:last-child p {
    background: url(../img/header/2.png) no-repeat;
    width: 14px;
    height: 9px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 2px;
}

.header .head1 .spa .fuo a {
    color: #8c8c8c;
}

.header .head1 .spa .fuo a:hover {
    color: #f42828;
}

.header .head1 .spa .fuo:last-child {
    width: 82px;
    text-align: start;
    text-indent: 1em;
    color: #8c8c8c;
    border: 1px solid transparent;
}

.header .head1 .spa .fuo:last-child .xia {
    width: 380px;
    height: 0px;
    position: absolute;
    background-color: #fff;
    top: 30px;
    right: -1px;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}

.header .head1 .spa .fuo:last-child:hover {
    border: 1px solid #d2d2d2;
    background-color: white;
}

.header .head1 .spa .fuo:last-child:hover .xia {
    height: 158px;
    border: 1px solid #d2d2d2;
}

.header .head1 .spa .fuo:last-child .zx {
    width: 82px;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    display: none;
    background-color: white;
    z-index: 99;
}

.header .head1 .spa .fuo:last-child:hover .zx {
    display: block;
}

.header .head1 .spa .fuo:last-child .xia .mian {
    width: 380px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.header .head1 .spa .fuo:last-child .xia .mian .zu {
    width: 116px;
    height: 120px;
    border-right: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .head1 .spa .fuo:last-child .xia .mian .zu .tes {
    width: 85px;
    height: 30px;
}

.header .head1 .spa .fuo:last-child .xia .mian .zu .tes:first-child {
    font-weight: 700;
    color: #666;
}

.header .head1 .spa .fuo:last-child .xia .mian span:hover {
    color: #f42828;
    cursor: pointer;
}

.header .head1 .spa .fuo:last-child .xia .mian .yu {
    width: 225px;
    height: 120px;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .head1 .spa .fuo:last-child .xia .mian .yu .youh {
    width: 225px;
    height: 30px;
    line-height: 30px;
    display: flex;
}

.header .head1 .spa .fuo:last-child .xia .mian .yu .youh span {
    width: 75px;
    height: 30px;
}

.header .head1 .spa .fuo:last-child .xia .mian .yu .youh:first-child {
    font-weight: 700;
    color: #666;
}

header {
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    background-color: #fff;
}

header .header1 {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

header .header1 .logo {
    width: 189px;
    height: 57px;
    padding: 21.5px 0px;
    float: left;
}

header .header1 .logo .logo1 {
    width: 159px;
    height: 57px;
}

header .header1 .inp {
    width: 546px;
    height: 64px;
    float: left;
    margin: 30px 0 0 78px;
    position: relative;
}

header .header1 .inp .inp1 {
    width: 940px;
    height: 34px;
}

header .header1 .inp .inp1 input {
    font-size: 12px;
    width: 398px;
    height: 30px;
    border: 2px solid #2984eb;
    outline: 0;
    text-indent: 1em;
    float: left;
}

header .header1 .inp .inp1 button {
    width: 70px;
    height: 34px;
    line-height: 34px;
    background-color: #2984eb;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border: 0;
    float: left;
}

header .header1 .inp .inp1 button:nth-child(3) {
    margin-left: 8px;
    background-color: #434d55;
}

header .header1 .inp ul {
    width: 546px;
    height: 30px;
}

header .header1 .inp ul li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    font-size: 12px;
}

header .header1 .inp ul li a {
    color: #999;
}

header .header1 .inp ul li a:hover {
    color: #e23435;
}

header .header1 .inp2 {
    width: 180px;
    height: 35px;
    margin-top: 30px;
    float: right;
    position: relative;
}

header .header1 .inp2 div:nth-child(1) {
    width: 178px;
    height: 33px;
    line-height: 33px;
    position: relative;
    border: 1px solid #d2d2d2;
    font-size: 12px;
}

header .header1 .inp2 div:nth-child(1) a {
    display: block;
    color: #f42424;
}

header .header1 .inp2 div:nth-child(1) a i {
    width: 20px;
    height: 22px;
    margin-top: 5.5px;
    margin-left: 30px;
    font-size: 20px;
    float: left;
    display: inline;
    background: url(../img/header/购物车.png) no-repeat 0 0;
    background-size: contain;
}

header .header1 .inp2 div:nth-child(1) a span {
    margin-left: 8px;
}

header .header1 .inp2 div:nth-child(1) a em {
    width: 13px;
    height: 13px;
    line-height: 13px;
    padding: 1px;
    border-radius: 50%;
    background: #f42424;
    color: #fff;
    position: absolute;
    top: 6px;
    left: 122px;
    text-align: center;
    font-size: 12px;
}

header .header1 .inp2 div:nth-child(2) {
    width: 256px;
    height: 68px;
    background-color: red;
    border: 1px solid #d2d2d2;
    padding: 20px 20px 20px 36px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
    display: none;
}

header .header1 .inp2 div:nth-child(2) b {
    width: 110px;
    height: 68px;
    background: url(../img/header/cart-nogoods.png) no-repeat;
    display: block;
    float: left;
}

header .header1 .inp2 div:nth-child(2) p {
    width: 178px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -2px;
    left: 134px;
}

header .header1 .inp2 div:nth-child(2) span {
    float: left;
    display: block;
    font-size: 12px;
    color: #8c8c8c;
    margin: 6px 0 0 14px;
    line-height: 25px;
    width: 132px;
}

header .header1 .inp2:hover .block {
    display: block;
}

.header-links {
    width: 100%;
    border-bottom: 2px solid #ee356c;
}

.header-links .header-links-container {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

.header-links .header-links-container * {
    box-sizing: border-box;
    height: 42px;
}

.header-links .header-links-container .header-btn {
    width: 200px;
    height: 42px;
    background-color: #027bd6;
    position: relative;
}

.header-links .header-links-container .header-btn>p.title {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 42px;
}

.header-links .header-links-container>ul>li {
    height: 40px;
    display: inline-block;
    line-height: 40px;
    margin-left: 36px;
}

.header-links .header-links-container>ul>li a {
    color: #333;
}

.header-links .header-links-container>ul>li.active a {
    color: #e23435;
}

.header-links .header-links-container>ul>li:hover a {
    color: #e23435;
}

* {
    margin: 0px;
    padding: 0pc;
}

ul {
    list-style: none;
}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.g_banner {
    width: 1920px;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    position: absolute;
    top: 182px;
    left: 50%;
    margin-left: -960px;
}

.g_nav {
    width: 1200px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -600px;
    z-index: 10;
}

.g_nav .apps {
    width: 200px;
    height: 400px;
    float: left;
    position: relative;
    background-color: #2984eb;
}

.g_nav .apps>li {
    width: 200px;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px dotted #4b94e6;
}

.g_nav .apps>li h4,
.g_nav .apps>li span {
    font-size: 13px;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.g_nav .apps>li:hover {
    background-color: #006bbc;
}

.g_nav .apps>li::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -37px;
    left: 180px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #006bbc;
    display: none;
}

.g_nav .apps>li:hover::after {
    display: block;
}

.g_nav .apps>li .kitchen {
    width: 445px;
    height: 378px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 200px;
    display: none;
}

.g_nav .apps>li:hover .kitchen {
    display: block;
}

.g_nav .apps>li .kitchen .left {
    width: 190px;
    height: 378px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.g_nav .apps>li .kitchen .left h5 {
    height: 25px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ededed;
}

.g_nav .apps>li .kitchen .left ul {
    width: 190px;
    height: 310px;
}

.g_nav .apps>li .kitchen .left ul li {
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}

.g_nav .apps>li .kitchen .left ul li:nth-child(2n) {
    margin-right: 0px;
}

.g_nav .apps>li .kitchen .left ul li:hover {
    color: white;
    background-color: #434d55;
}

.g_nav .apps>li .kitchen .right {
    width: 215px;
    height: 378px;
    float: right;
}

.g_nav .apps>li .kitchen .right img {
    width: 100%;
    height: 100%;
}

.g_nav .g_ban {
    float: right;
    margin-top: 50px;
    cursor: pointer;
}

.g_oUl {
    width: 11520px;
    height: 400px;
    cursor: pointer;
    position: absolute;
}

.g_oUl .g_li {
    width: 1920px;
    height: 400px;
    float: left;
}

.g_banner .g_oUl2 {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    z-index: 11;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.375);
}

.g_banner .g_oUl2 .g_list {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.649);
}

.g_banner .g_oUl2 .g_list1 {
    background-color: white;
}


/* 热门推荐 */

.g_hot {
    width: 1200px;
    height: 350px;
    padding-top: 30px;
    margin: 440px auto 0px;
}

.g_hot .top {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #000;
}

.g_hot .top>p {
    width: 100px;
    float: left;
    font-size: 20px;
}

.g_hot .top>ul {
    width: 384px;
    float: right;
}

.g_hot .top>ul .g_new {
    width: 96px;
    height: 50px;
    text-align: center;
    float: left;
    position: relative;
}

.g_hot .top>ul .g_new1 {
    color: #006bbc;
}

.g_hot .top>ul .g_new>div {
    width: 2px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0px;
    border-right: 1px solid #ededed;
}

.g_hot .bottom {
    width: 1200px;
    height: 300px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.g_hot .bottom .bottom1 {
    width: 1200px;
    height: 1200px;
    position: relative;
}

.g_hot .bottom .recommend {
    width: 1200px;
    height: 300px;
    transition: all 1s;
    position: absolute;
}

.g_hot .bottom .re1 {
    z-index: 10;
}

.g_hot .bottom .re2 {
    z-index: 9;
}

.g_hot .bottom .re3 {
    z-index: 8;
}

.g_hot .bottom .re4 {
    z-index: 7;
}

.g_hot .bottom .recommend .rec4_li {
    border: none;
}

.g_hot .bottom .recommend .g_rec_li {
    width: 193px;
    height: 280px;
    float: left;
    padding: 17px;
    box-sizing: border-box;
    border: 1px solid #ededed;
    background-color: white;
}

.g_hot .bottom .recommend .g_rec_li .g_img,
.g_hot .bottom .recommend .g_rec_li .g_img1,
.g_hot .bottom .recommend .g_rec_li .g_img2 {
    width: 159px;
    height: 159px;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}

.g_hot .bottom .recommend .g_rec_li .g_price,
.g_hot .bottom .recommend .g_rec_li .g_price1,
.g_hot .bottom .recommend .g_rec_li .g_price2 {
    text-align: center;
    color: red;
    padding-bottom: 5px;
}

.g_hot .bottom .recommend .g_rec_li .g_describe,
.g_hot .bottom .recommend .g_rec_li .g_describe1,
.g_hot .bottom .recommend .g_rec_li .g_describe2 {
    font-size: 12px;
    color: #555;
}

.g_hot .bottom .recommend .dec_p {
    height: 35px;
    overflow: hidden;
}

.g_hot .bottom .recommend .g_rec_li .g_describe:hover,
.g_hot .bottom .recommend .g_rec_li .g_describe1:hover,
.g_hot .bottom .recommend .g_rec_li .g_describe2:hover {
    color: red;
    cursor: pointer;
}

.g_hot .bottom .recommend .g_rec_li .etails {
    width: 193px;
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    margin-left: -17px;
    display: none;
    background-color: red;
}

.g_hot .bottom .recommend .g_rec_li:hover .etails {
    display: block;
    cursor: pointer;
}


/* 品牌旗舰 */

.flagship {
    width: 1200px;
    height: 350px;
    margin: 30px auto;
    padding-top: 30px;
}

.flagship .top {
    font-size: 20px;
    padding-bottom: 20px;
}

.flagship .bottom {
    width: 1200px;
    height: 300px;
    cursor: pointer;
}

.flagship .bottom .left {
    width: 350px;
    height: 300px;
    float: left;
}

.flagship .bottom .middle {
    width: 400px;
    height: 300px;
    float: left;
}

.flagship .bottom ul {
    width: 450px;
    height: 300px;
    float: right;
}

.flagship .bottom ul li {
    width: 143px;
    height: 74px;
    float: left;
    border: 1px solid #ededed;
}

.flagship .bottom ul li .g_ico {
    width: 100%;
    height: 100%;
}


/* 厨房电器 */

.cook {
    width: 1200px;
    margin: 30px auto;
    padding-top: 30px;
}

.cook .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #2e84e9;
}

.cook .top p {
    width: 200px;
    height: 40px;
    float: left;
    font-size: 20px;
}

.cook .top .pot {
    width: 460px;
    height: 40px;
    float: right;
}

.cook .top .pot .pot_li {
    height: 39px;
    float: left;
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    margin-left: 10px;
}

.cook .top .pot .pot_li_1 {
    border: 1px solid #2e84e9;
    border-bottom: 1px solid white;
}

.cook .bottom {
    width: 1200px;
    height: 460px;
    margin-top: 20px;
}

.cook .bottom .left {
    width: 280px;
    height: 460px;
    float: left;
    position: relative;
}

.cook .bottom .left>ul {
    width: 170px;
    height: 110px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -85px;
}

.cook .bottom .left>ul li {
    width: 80px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.271);
}

.cook .bottom .left>ul li:nth-child(2n) {
    margin-right: 0px;
}

.cook .bottom .left>ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.484);
}

.cook .bottom .right {
    width: 920px;
    height: 460px;
    float: right;
    overflow: hidden;
}

.cook .bottom .right .right1 {
    width: 920px;
    height: 2300px;
    position: relative;
}

.cook .bottom .right .cook_img {
    width: 920px;
    height: 460px;
    float: right;
    transition: all 0.3s;
    background-color: white;
}

.cook .bottom .right .cook_img li:nth-child(1) {
    width: 330px;
    height: 460px;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}

.cook .bottom .right .cook_img li:nth-child(1) .cook_img1 {
    width: 280px;
    height: 280px;
}

.cook .bottom .right .cook_img li:nth-child(1) .bottom {
    width: 100%;
    height: 110px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f5f9ff;
}

.cook .bottom .right .cook_img li:nth-child(1) .bottom .cook_p {
    width: 100%;
    height: 50px;
    font-size: 13px;
    color: #555;
}

.cook .bottom .right .cook_img li:nth-child(1) .bottom .cook_p:hover {
    color: red;
    cursor: pointer;
}

.cook .bottom .right .cook_img li:nth-child(1) .bottom .xiangqing {
    width: 100%;
    height: 40px;
}

.cook .bottom .right .cook_img li:nth-child(1) .bottom .xiangqing .money {
    width: 140px;
    height: 40px;
    color: red;
    float: left;
    line-height: 40px;
    font-size: 25px;
}

.cook .bottom .right .cook_img li:nth-child(1) .bottom .xiangqing .check {
    width: 110px;
    height: 40px;
    float: right;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: red;
}

.cook .bottom .right .cook_img li {
    width: 190px;
    height: 228px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ededed;
}

.cook .bottom .right .cook_img li .picture {
    width: 143px;
    height: 143px;
    margin: 0px 12px;
}

.cook .bottom .right .cook_img li .op {
    width: 100%;
    height: 20px;
    margin: 10px 0px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cook .bottom .right .cook_img li .op:hover {
    color: red;
}

.cook .bottom .right .cook_img li .cash {
    width: 100%;
    height: 20px;
    color: red;
    text-align: center;
}

.cook .cook_banner {
    width: 1200px;
    height: 70px;
    margin: 10px 0px;
}

.cook .cook_banner li {
    width: 120px;
    height: 70px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cook .cook_banner li img {
    width: 96px;
    height: 42px;
}

.cook .cook_banner1 {
    width: 1200px;
    height: 100px;
}


/* 五金家装 */

.cook .top .pot1 {
    width: 290px;
}


/* 随手购 */

.with_purchase {
    width: 1200px;
    height: 500px;
    margin: 20px auto;
}

.with_purchase .top {
    width: 1200px;
    height: 50px;
}

.with_purchase .top p {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    float: left;
}

.with_purchase .top .with_list {
    width: 70px;
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.with_purchase .top .with_list .with_list1 {
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #9f9f9f;
}

.with_purchase .top .with_list .with_list1_1 {
    width: 20px;
    border-radius: 4px;
    transition: all 0.2s;
    background-color: red;
}

.with_purchase .bottom {
    width: 1200px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.with_purchase .bottom .with_oUl {
    width: 4800px;
    height: 350px;
    position: absolute;
}

.with_purchase .bottom .with_oUl li {
    width: 200px;
    height: 350px;
    float: left;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px dotted #dddddd;
}

.with_purchase .bottom .with_oUl li .with_img {
    width: 158px;
    height: 158px;
}

.with_purchase .bottom .with_oUl li .with_price {
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    text-align: center;
    color: red;
}

.with_purchase .bottom .with_oUl li .with_text {
    width: 100%;
    height: 85px;
    color: #555555;
    font-size: 14px;
}

.with_purchase .bottom .with_oUl li .with_text:hover {
    color: red;
    cursor: pointer;
}

.with_purchase .bottom .with_oUl li .xiangqing {
    width: 100%;
    height: 25px;
    border: 1px solid red;
    color: red;
    text-align: center;
    line-height: 25px;
}

.with_purchase .bottom .with_oUl li .xiangqing:hover {
    color: white;
    cursor: pointer;
    background-color: red;
}

.with_purchase .bottom .zuo_list,
.with_purchase .bottom .you_list {
    width: 30px;
    height: 70px;
    color: #cccccc;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 70px;
    display: none;
    background-color: rgba(0, 0, 0, 0.364);
}

.with_purchase .bottom:hover .zuo_list,
.with_purchase .bottom:hover .you_list {
    display: block;
}

.with_purchase .bottom .zuo_list {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -35px;
}

.with_purchase .bottom .you_list {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -35px;
}

.with_purchase .bottom .zuo_list:hover,
.with_purchase .bottom .you_list:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.447);
}


/* 楼层导航 */

.hot_nav {
    width: 50px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 140px;
    margin-top: -200px;
    z-index: 20;
    display: none;
}

.hot_nav .hot_nav_li {
    width: 50px;
    height: 45px;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #e9e9e9;
}

.hot_nav .hot_nav_li1 {
    color: white;
    background-color: #2984eb;
}

.hot_nav .hot_nav_li:last-of-type {
    height: 30px;
}

.hot_nav .hot_nav_li:last-of-type::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 7px 0px 0px 0px;
    border-top: 3px solid #a4a4a4;
    border-right: 3px solid #a4a4a4;
    transform: rotateZ(-44deg);
}

.hot_nav .hot_nav_li:hover {
    color: white;
    background-color: #2984eb;
}

.hot_nav .hot_nav_li:hover::after {
    border-top: 3px solid white;
    border-right: 3px solid white;
}