header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.header .head1 {
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #8c8c8c;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl {
  width: 183px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .city {
  width: 72px;
  height: 30px;
  text-indent: 2em;
  position: relative;
  border: 1px solid transparent;
}
.header .head1 .fl .city .bai {
  width: 445px;
  height: 238px;
  position: absolute;
  top: 30px;
  left: -1px;
  background-color: white;
  border: 1px solid #d2d2d2;
  display: none;
  z-index: 1;
}
.header .head1 .fl .city .zhong {
  width: 72px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 10;
}
.header .head1 .fl .city:hover .zhong {
  display: block;
}
.header .head1 .fl .city:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid #d2d2d2;
}
.header .head1 .fl .city:hover .bai {
  display: block;
}
.header .head1 .fl .city::after {
  content: "";
  width: 20px;
  height: 26px;
  background: url(../img/header/1.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 3px;
}
.header .head1 .fl .info {
  width: 96px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .info i a {
  color: #f42828;
}
.header .head1 .fl .info span a {
  color: #8c8c8c;
}
.header .head1 .fl .info span a:hover {
  color: #f42828;
}
.header .head1 .spa {
  width: 374px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo {
  width: 62px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.header .head1 .spa .fm {
  position: relative;
}
.header .head1 .spa .fm::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: -5px;
}
.header .head1 .spa .fuo:last-child p {
  background: url(../img/header/2.png) no-repeat;
  width: 14px;
  height: 9px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 2px;
}
.header .head1 .spa .fuo a {
  color: #8c8c8c;
}
.header .head1 .spa .fuo a:hover {
  color: #f42828;
}
.header .head1 .spa .fuo:last-child {
  width: 82px;
  text-align: start;
  text-indent: 1em;
  color: #8c8c8c;
  border: 1px solid transparent;
}
.header .head1 .spa .fuo:last-child .xia {
  width: 380px;
  height: 0px;
  position: absolute;
  background-color: #fff;
  top: 30px;
  right: -1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
.header .head1 .spa .fuo:last-child:hover {
  border: 1px solid #d2d2d2;
  background-color: white;
}
.header .head1 .spa .fuo:last-child:hover .xia {
  height: 158px;
  border: 1px solid #d2d2d2;
}
.header .head1 .spa .fuo:last-child .zx {
  width: 82px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 99;
}
.header .head1 .spa .fuo:last-child:hover .zx {
  display: block;
}
.header .head1 .spa .fuo:last-child .xia .mian {
  width: 380px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu {
  width: 116px;
  height: 120px;
  border-right: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes {
  width: 85px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes:first-child {
  font-weight: 700;
  color: #666;
}
.header .head1 .spa .fuo:last-child .xia .mian span:hover {
  color: #f42828;
  cursor: pointer;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu {
  width: 225px;
  height: 120px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh {
  width: 225px;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh span {
  width: 75px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh:first-child {
  font-weight: 700;
  color: #666;
}
header {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  background-color: #fff;
}
header .header1 {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
header .header1 .logo {
  width: 189px;
  height: 57px;
  padding: 21.5px 0px;
  float: left;
}
header .header1 .logo .logo1 {
  width: 159px;
  height: 57px;
}
header .header1 .inp {
  width: 546px;
  height: 64px;
  float: left;
  margin: 30px 0 0 78px;
  position: relative;
}
header .header1 .inp .inp1 {
  width: 546px;
  height: 34px;
}
header .header1 .inp .inp1 input {
  font-size: 12px;
  width: 394px;
  height: 30px;
  border: 2px solid #f42424;
  outline: 0;
  text-indent: 1em;
  float: left;
}
header .header1 .inp .inp1 button {
  width: 70px;
  height: 34px;
  line-height: 34px;
  background-color: #f42424;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 0;
  float: left;
}
header .header1 .inp .inp1 button:nth-child(3) {
  margin-left: 8px;
  background-color: #b31919;
}
header .header1 .inp ul {
  width: 546px;
  height: 30px;
}
header .header1 .inp ul li {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  font-size: 12px;
}
header .header1 .inp ul li a {
  color: #999;
}
header .header1 .inp ul li a:hover {
  color: #e23435;
}
header .header1 .inp2 {
  width: 180px;
  height: 35px;
  margin-top: 30px;
  float: right;
  position: relative;
}
header .header1 .inp2 div:nth-child(1) {
  width: 178px;
  height: 33px;
  line-height: 33px;
  position: relative;
  border: 1px solid #d2d2d2;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(1) a {
  display: block;
  color: #f42424;
}
header .header1 .inp2 div:nth-child(1) a i {
  width: 20px;
  height: 22px;
  margin-top: 5.5px;
  margin-left: 30px;
  font-size: 20px;
  float: left;
  display: inline;
  background: url(../img/header/购物车.png) no-repeat 0 0;
  background-size: contain;
}
header .header1 .inp2 div:nth-child(1) a span {
  margin-left: 8px;
}
header .header1 .inp2 div:nth-child(1) a em {
  width: 13px;
  height: 13px;
  line-height: 13px;
  padding: 1px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 122px;
  text-align: center;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(2) {
  width: 256px;
  height: 68px;
  background-color: red;
  border: 1px solid #d2d2d2;
  padding: 20px 20px 20px 36px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
  display: none;
}
header .header1 .inp2 div:nth-child(2) b {
  width: 110px;
  height: 68px;
  background: url(../img/header/cart-nogoods.png) no-repeat;
  display: block;
  float: left;
}
header .header1 .inp2 div:nth-child(2) p {
  width: 178px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 134px;
}
header .header1 .inp2 div:nth-child(2) span {
  float: left;
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  margin: 6px 0 0 14px;
  line-height: 25px;
  width: 132px;
}
header .header1 .inp2:hover .block {
  display: block;
}
.header-links {
  width: 100%;
  border-bottom: 2px solid #f42424;
}
.header-links .header-links-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.header-links .header-links-container * {
  box-sizing: border-box;
  height: 42px;
}
.header-links .header-links-container .header-btn {
  width: 200px;
  height: 42px;
  background-color: #f42424;
  position: relative;
}
.header-links .header-links-container .header-btn > p.title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
}
.header-links .header-links-container > ul > li {
  height: 40px;
  display: inline-block;
  line-height: 40px;
  margin-left: 36px;
}
.header-links .header-links-container > ul > li.active a {
  color: #e23435;
}
.header-links .header-links-container > ul > li:hover a {
  color: #e23435;
}

.EDG_red {
  display: none;
  width: 1200px;
  height: 3px;
  background-color: red;
  margin: 0 auto;
}

/* 首页 */

.EDGM {
  width: 1200px;
  height: 2000px;
  margin: 0 auto;
  position: relative;
}

.EDGM_1 {
  width: 1200px;
  height: 2000px;
  margin: 0 auto;
  position: absolute;
  display: none;
}

.EDG {
  width: 1200px;
  height: 400px;
  background-color: aqua;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.EDG_1 {
  position: absolute;
  top: 0;
  width: 180px;
  height: 380px;
  background-color: #999;
}

.lunbo {
  width: 100%;
  height: 400px;
}

.lunbo_1 {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.lunbo_1 .oUl {
  width: 4800px;
  height: 400px;
  position: absolute;
}

.lunbo_1 .oUl > li {
  float: left;
}

.lunbo_1 .circle_list {
  width: 65px;
  height: 20px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.403);
  bottom: 20px;
  left: 575px;
}

.lunbo_1 .circle_list .circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.506);
}

.lunbo_1 .circle_list .red {
  background-color: white;
}

.hero_1 {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.425);
}

.hero_1 p {
  width: 100%;
  height: 57px;
  text-align: center;
  line-height: 57px;
  display: flex;
  /* border: 0.2px solid white; */
}

.hero_1 p a {
  color: white;
}

.hero_1 .hero_t1 {
  width: 36px;
  height: 36px;
  margin-left: 41px;
  margin-top: 5px;
}

/* .hero_1 .hero_t2 {
    width: 27px;
    height: 27px;
} */

.hero_1 p i {
  width: 25px;
  height: 25px;
  margin-left: 47px;
  margin-top: 4px;
}

.hero_1 p i > img {
  width: 25px;
  height: 25px;
}

.hero_1 p a {
  margin-left: 9px;
}

.hero_1 .hero_t3 {
  margin-left: 0px;
}

.hero_1 p:hover {
  background-color: rgba(0, 0, 0, 0.708);
}

.EDG1 {
  width: 1200px;
  height: 390px;
  margin: 0 auto;
  position: relative;
}

.EDG1 > P {
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  top: 10px;
}

.edg_1 {
  position: absolute;
  width: 300px;
  top: 55px;
  left: 0px;
}

.edg_3 {
  position: absolute;
  width: 300px;
  top: 0px;
  right: -300px;
}

.edg_2 {
  position: absolute;
  width: 600px;
  height: 300px;
  top: 55px;
  left: 300px;
  background-color: aquamarine;
}

.lunbo_2 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.lunbo_2 .oUl_1 {
  width: 2400px;
  height: 300px;
  position: absolute;
}

.lunbo_2 .oUl_1 > li {
  float: left;
}

.lunbo_2 .circle_list1 {
  width: 65px;
  height: 20px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.403);
  bottom: 20px;
  left: 265px;
}

.lunbo_2 .circle_list1 .circle1 {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.506);
}

.lunbo_2 .circle_list1 .red {
  background-color: white;
}

/* 新品发布 */

.EDGM_2 {
  width: 1200px;
  height: 1449px;
  position: absolute;
  display: none;
  /* background-color: aquamarine; */
}

.edgm_1 {
  width: 1200px;
  height: 400px;
}

.edgm_2 {
  width: 1200px;
  height: 120px;
  position: relative;
  /* background-color: aqua; */
}

.edgm_2 > p:nth-child(1) {
  position: absolute;
  top: 23px;
  left: 0px;
}

.edgm_2 .k1 {
  width: 1000px;
  height: 30px;
  top: 20px;
  left: 45px;
  position: absolute;
  display: flex;
  flex-direction: row;
  /* border: 0.2px solid saddlebrown; */
}

.edgm_2 .k1 > li {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 44px;
}

.edgm_2 .k1 > li > a {
  color: rgb(104, 104, 234);
}

.edgm_2 .k1 > li > a:hover {
  color: red;
}

.edgm_2 .k1 .k1_1 {
  border: 0.2px solid red;
}

.edgm_2 .k1 .k1_1 a {
  color: red;
  font-family: 600;
}

.edgm_2 > i {
  position: absolute;
  top: 75px;
  left: 0;
}

.k2 {
  position: absolute;
  width: 620px;
  height: 30px;
  display: flex;
  flex-direction: row;
  top: 70px;
  left: 45px;
}

.k2 > li {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 44px;
}

.k2 > li > a {
  color: rgb(104, 104, 234);
}

.k2 > .k1_1 > a {
  color: red;
  font-weight: 600;
}

.k2 > li > a:hover {
  color: red;
}

.k1_1 {
  border: 0.2px solid red;
}

.k1_1 a {
  color: red;
  font-weight: 600;
}

.edgm_3 {
  width: 1200px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #999;
}

.edgm_4 {
  width: 1200px;
  height: 926px;
  position: relative;
  /* background-color: cadetblue; */
}

.edgm_4_1 {
  width: 170px;
  height: 700px;
  position: absolute;
  /* background-color: bisque; */
}

.edgm_4_1_t1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.edgm_4_t1 {
  width: 120px;
  height: 45px;
  border-radius: 10px;
  top: 30px;
  color: white;
  text-align: center;
  line-height: 31px;
  position: absolute;
  z-index: 1;
  background-color: #ec5051;
}

.edgm_4_t2 {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 60px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fef8c4;
  color: #777;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 77px;
}

.edgm_4_t3 {
  width: 120px;
  height: 45px;
  border-radius: 10px;
  top: 309px;
  color: white;
  text-align: center;
  line-height: 31px;
  position: absolute;
  z-index: 1;
  background-color: #ec5051;
}

.edgm_4_t4 {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 339px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fef8c4;
  color: #777;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 77px;
}

.edgm_4_t5 {
  width: 120px;
  height: 45px;
  border-radius: 10px;
  top: 585px;
  color: white;
  text-align: center;
  line-height: 31px;
  position: absolute;
  z-index: 1;
  background-color: #ec5051;
}

.edgm_4_t6 {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 619px;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fef8c4;
  color: #777;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 77px;
}

.edgm_sp1 {
  position: absolute;
  width: 5px;
  height: 200px;
  top: 110px;
  background-color: #fef8c4;
  left: 56px;
}

.edgm_sp2 {
  position: absolute;
  width: 5px;
  height: 200px;
  top: 388px;
  background-color: #fef8c4;
  left: 56px;
}

.edgm_4_2 {
  width: 500px;
  height: 250px;
  border: 0.2px solid black;
  position: absolute;
  top: 30px;
  left: 180px;
}

.edgm_4_j1 {
  width: 100%;
  height: 100%;
  position: relative;
}

.edgm_4_j1_1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 26px;
  left: 0;
  background-color: aqua;
}

.edgm_4_j1_1 a img {
  width: 100%;
  height: 100%;
}

.edgm_4_j1_2 {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 287px;
  height: 75px;
  display: flex;
}

.edgm_4_th {
  width: 110px;
  height: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  font-size: 29px;
  top: 104px;
  color: #ec5051;
  right: 178px;
}

.edgm_4_th1 {
  width: 100px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 116px;
  /* background-color: #EC5051; */
  right: 70px;
}

.edgm_4_th1 > span {
  color: red;
}

.edgm_4_j1_3 {
  width: 130px;
  height: 35px;
  position: absolute;
  bottom: 31px;
  left: 216px;
  text-align: center;
  line-height: 35px;
  color: red;
  border: 0.3px solid red;
}

.edgm_4_j1_3:hover {
  background-color: #ec5051;
  color: white;
}

.edgm_4_3 {
  width: 500px;
  height: 250px;
  border: 0.2px solid black;
  position: absolute;
  top: 30px;
  right: 0;
}

.edgm_4_4 {
  width: 500px;
  height: 250px;
  /* background-color: #FEF8C4; */
  border: 0.2px solid black;
  position: absolute;
  top: 300px;
  left: 180px;
}

.edgm_4_5 {
  width: 500px;
  height: 250px;
  border: 0.2px solid black;
  position: absolute;
  top: 570px;
  left: 180px;
}

/* 先抢订 */

.EDGM_3 {
  width: 1200px;
  height: 1200px;
  position: relative;
  margin: 0 auto;
  /* display: none; */
}

.ttgs {
  width: 1200px;
  height: 160px;
  position: relative;
}

.ttgs > p:nth-child(1) {
  position: absolute;
  top: 23px;
  left: 0px;
}

.ttgs .k1 {
  width: 1000px;
  height: 30px;
  top: 20px;
  left: 45px;
  position: absolute;
  display: flex;
  flex-direction: row;
  /* border: 0.2px solid saddlebrown; */
}

.ttgs .k1 > li {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 44px;
}

.ttgs .k1 > li > a {
  color: rgb(104, 104, 234);

}

.ttgs .k1 > li > a:hover {
  color: red;
}

.ttgs .k1 .k1_1 {
  border: 0.2px solid red;
}

.ttgs .k1 .k1_1 a {
  color: red;
  font-family: 600;
}

.ttgs > i {
  position: absolute;
  top: 75px;
  left: 0;
}

.k2 {
  position: absolute;
  width: 620px;
  height: 30px;
  display: flex;
  flex-direction: row;
  top: 70px;
  left: 45px;
}

.k2 > li {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 44px;
}

.k2 > li > a {
  color: rgb(104, 104, 234);
}

.k2 > .k1_1 > a {
  color: red;
  font-weight: 600;
}

.k2 > li > a:hover {
  color: red;
}

.k1_1 {
  border: 0.2px solid red;
}

.k1_1 a {
  color: red;
  font-weight: 600;
}

.ttgs4 {
  top: 116px;
}

.edgm_2 > i:nth-child(2) {
  position: absolute;
  top: 82px;
  left: 0;
}

.edgm_2 > i:nth-child(3) {
  position: absolute;
  top: 122px;
  left: 0;
}

.ttgs5 {
  border: 0.2px solid red;
}
.ttgs5 a{
  color: #f00 !important
}
.ttgs4 .ttgs5 > a {
  color: red;
  font-weight: 600;
}

.edgm_5 {
  width: 1200px;
  height: 800px;
  position: relative;
  /* background-color: rgb(183, 240, 240); */
}

.edgm_5_j1 {
  width: 1200px;
  height: 420px;
  display: flex;
  flex-direction: row;
  /* background-color: #EC5051; */
}

.edgm_5_1 {
  width: 300px;
  height: 400px;
  position: relative;
  border: 0.2px solid black;
  /* background-color: #FEF8C4; */
}

.edgm_5_t1 {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 0;
  left: 38px;
  /* background-color: aquamarine; */
}

.edgm_5_t1 a img {
  width: 100%;
  height: 100%;
}

.edgm_5_t2 {
  position: absolute;
  width: 90px;
  height: 36px;
  /* background-color: aquamarine; */
  top: 246px;
  font-size: 20px;
  color: #ec5051;
  text-align: center;
  line-height: 36px;
  left: 32px;
}

.jst {
  font-size: 13px;
  color: black;
}

.edgm_5_t3 {
  position: absolute;
  top: 252px;
  left: 133px;
  width: 70px;
  height: 25px;
  text-align: center;
  text-decoration: line-through;
  color: #999;
  /* background-color: aquamarine; */
  line-height: 25px;
}

.edgm_5_t4 {
  position: absolute;
  top: 283px;
  left: 36px;
  width: 231px;
  height: 50px;
  /* background-color: #EC5051; */
}

.edgm_5_t6 {
  width: 40px;
  height: 15px;
  font-size: 13px;
  color: rgb(154, 154, 14);
  position: absolute;
  bottom: 20px;
  left: 36px;
}

.edgm_5_t7 {
  width: 90px;
  height: 15px;
  font-size: 13px;
  color: rgb(13, 13, 2);
  position: absolute;
  bottom: 20px;
  right: 36px;
}

.edgm_5_t7 > span {
  color: red;
}

.edgm_5_j2 {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: row;
  /* background-color: #EC5051; */
}

.ks {
  top: 77px !important;
}
