header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.header .head1 {
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #8c8c8c;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl {
  width: 183px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .city {
  width: 72px;
  height: 30px;
  text-indent: 2em;
  position: relative;
  border: 1px solid transparent;
}
.header .head1 .fl .city .bai {
  width: 445px;
  height: 238px;
  position: absolute;
  top: 30px;
  left: -1px;
  background-color: white;
  border: 1px solid #d2d2d2;
  display: none;
  z-index: 1;
}
.header .head1 .fl .city .zhong {
  width: 72px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 10;
}
.header .head1 .fl .city:hover .zhong {
  display: block;
}
.header .head1 .fl .city:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid #d2d2d2;
}
.header .head1 .fl .city:hover .bai {
  display: block;
}
.header .head1 .fl .city::after {
  content: "";
  width: 20px;
  height: 26px;
  background: url(../img/header/1.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 3px;
}
.header .head1 .fl .info {
  width: 96px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .info i a {
  color: #f42828;
}
.header .head1 .fl .info span a {
  color: #8c8c8c;
}
.header .head1 .fl .info span a:hover {
  color: #f42828;
}
.header .head1 .spa {
  width: 374px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo {
  width: 62px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.header .head1 .spa .fm {
  position: relative;
}
.header .head1 .spa .fm::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: -5px;
}
.header .head1 .spa .fuo:last-child p {
  background: url(../img/header/2.png) no-repeat;
  width: 14px;
  height: 9px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 2px;
}
.header .head1 .spa .fuo a {
  color: #8c8c8c;
}
.header .head1 .spa .fuo a:hover {
  color: #f42828;
}
.header .head1 .spa .fuo:last-child {
  width: 82px;
  text-align: start;
  text-indent: 1em;
  color: #8c8c8c;
  border: 1px solid transparent;
}
.header .head1 .spa .fuo:last-child .xia {
  width: 380px;
  height: 0px;
  position: absolute;
  background-color: #fff;
  top: 30px;
  right: -1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
.header .head1 .spa .fuo:last-child:hover {
  border: 1px solid #d2d2d2;
  background-color: white;
}
.header .head1 .spa .fuo:last-child:hover .xia {
  height: 158px;
  border: 1px solid #d2d2d2;
}
.header .head1 .spa .fuo:last-child .zx {
  width: 82px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 99;
}
.header .head1 .spa .fuo:last-child:hover .zx {
  display: block;
}
.header .head1 .spa .fuo:last-child .xia .mian {
  width: 380px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu {
  width: 116px;
  height: 120px;
  border-right: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes {
  width: 85px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes:first-child {
  font-weight: 700;
  color: #666;
}
.header .head1 .spa .fuo:last-child .xia .mian span:hover {
  color: #f42828;
  cursor: pointer;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu {
  width: 225px;
  height: 120px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh {
  width: 225px;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh span {
  width: 75px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh:first-child {
  font-weight: 700;
  color: #666;
}
header {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  background-color: #fff;
}
header .header1 {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
header .header1 .logo {
  width: 189px;
  height: 57px;
  padding: 21.5px 0px;
  float: left;
}
header .header1 .logo .logo1 {
  width: 159px;
  height: 57px;
}
header .header1 .inp {
  width: 546px;
  height: 64px;
  float: left;
  margin: 30px 0 0 78px;
  position: relative;
}
header .header1 .inp .inp1 {
  width: 546px;
  height: 34px;
}
header .header1 .inp .inp1 input {
  font-size: 12px;
  width: 394px;
  height: 30px;
  border: 2px solid #f42424;
  outline: 0;
  text-indent: 1em;
  float: left;
}
header .header1 .inp .inp1 button {
  width: 70px;
  height: 34px;
  line-height: 34px;
  background-color: #f42424;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 0;
  float: left;
}
header .header1 .inp .inp1 button:nth-child(3) {
  margin-left: 8px;
  background-color: #b31919;
}
header .header1 .inp ul {
  width: 546px;
  height: 30px;
}
header .header1 .inp ul li {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  font-size: 12px;
}
header .header1 .inp ul li a {
  color: #999;
}
header .header1 .inp ul li a:hover {
  color: #e23435;
}
header .header1 .inp2 {
  width: 180px;
  height: 35px;
  margin-top: 30px;
  float: right;
  position: relative;
}
header .header1 .inp2 div:nth-child(1) {
  width: 178px;
  height: 33px;
  line-height: 33px;
  position: relative;
  border: 1px solid #d2d2d2;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(1) a {
  display: block;
  color: #f42424;
}
header .header1 .inp2 div:nth-child(1) a i {
  width: 20px;
  height: 22px;
  margin-top: 5.5px;
  margin-left: 30px;
  font-size: 20px;
  float: left;
  display: inline;
  background: url(../img/header/购物车.png) no-repeat 0 0;
  background-size: contain;
}
header .header1 .inp2 div:nth-child(1) a span {
  margin-left: 8px;
}
header .header1 .inp2 div:nth-child(1) a em {
  width: 13px;
  height: 13px;
  line-height: 13px;
  padding: 1px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 122px;
  text-align: center;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(2) {
  width: 256px;
  height: 68px;
  background-color: red;
  border: 1px solid #d2d2d2;
  padding: 20px 20px 20px 36px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
  display: none;
}
header .header1 .inp2 div:nth-child(2) b {
  width: 110px;
  height: 68px;
  background: url(../img/header/cart-nogoods.png) no-repeat;
  display: block;
  float: left;
}
header .header1 .inp2 div:nth-child(2) p {
  width: 178px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 134px;
}
header .header1 .inp2 div:nth-child(2) span {
  float: left;
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  margin: 6px 0 0 14px;
  line-height: 25px;
  width: 132px;
}
header .header1 .inp2:hover .block {
  display: block;
}
* {
  padding: 0px;
  margin: 0px;
}

ul,
ol {
  list-style: none;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #555;
}

body {
  font-size: 12px;
}

.nav_bg {
  background-color: #f8f8f8;
}

.nav {
  width: 1200px;
  margin: 0px auto;
  padding: 7px 0 8px;
  height: 25px;
  line-height: 25px;
  clear: both;
}

.nav .nav_a {
  float: left;
  margin-right: 7px;
  position: relative;
}

.nav .nav_a .nav_of {
  display: inline-block;
  padding: 0 10px;
  height: 23px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}

.nav .nav_a .nav_of .nav_xian {
  width: 88%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 1px;
  z-index: 99;
  display: none;
}

.nav .iconfont {
  font-size: 12px;
  margin-left: 2px;
}

.nav .nav_a .nav_none {
  display: none;
  width: 219px;
  padding: 6px 0 4px 10px;
  position: absolute;
  left: 0;
  top: 24px;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 10;
}

.nav .nav_a .nav_none ul li {
  float: left;
  width: 68px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 5px 2px 0;
}

.nav .nav_a .nav_none ul li a:hover {
  color: #f42424;
}

.nav .nav_a:hover .nav_of {
  border: 1px solid #f42424;
}

.nav .nav_a:hover .nav_none {
  border: 1px solid #f42424;
}

.nav .nav_a:hover .nav_xian {
  display: block;
}

.nav .nav_a:hover .nav_none {
  display: block;
}

.nav .nav_a .nav_of .nav_xian2 {
  width: 77%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 1px;
  z-index: 99;
  display: none;
}

.nav .nav_a:hover .nav_xian2 {
  display: block;
}

.nav .txt {
  color: #8c8c8c;
  float: left;
  width: 300px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pro {
  width: 1200px;
  height: 614px;
  margin: 20px auto 0px;
  position: relative;
}

.pro img {
  width: 100%;
  height: 100%;
}

.pro .pro_p {
  float: left;
  width: 400px;
  height: auto;
}

.pro .pro_p .pro_img {
  width: 398px;
  height: 398px;
  border: 1px solid #d2d2d2;
  text-align: center;
  position: relative;
}

.pro_fda {
  width: 500px;
  height: 500px;
  position: absolute;
  overflow: hidden;
  background-color: red;
  top: 0px;
  left: 400px;
  z-index: 99;
  display: none;
}

.pro_fda > img {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.pro_fdj {
  width: 150px;
  height: 150px;
  background-color: #d2d2d2;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  display: none;
}

.pro .pro_p .pro_list {
  width: 398px;
  height: 60px;
  border: 1px solid #d2d2d2;
  border-top: 0;
  padding: 14px 0;
}

.pro .pro_p .pro_list > a {
  float: left;
  width: 36px;
  margin: 18px 0 0 0;
  text-align: center;
}

.pro .pro_p .iconfont {
  font-size: 22px;
}

.pro .pro_p .pro_list .list_img {
  float: left;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 325px;
}

.pro .pro_p .pro_list .left,
.pro .pro_p .pro_list .rigth {
  z-index: 99;
}

.pro .pro_p .pro_list .list_img ul {
  width: 402px;
  left: 0px;
  height: 60px;
  position: absolute;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.pro .pro_p .pro_list .list_img ul li {
  width: 60px;
  float: left;
  height: 58px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.pro .pro_p .pro_list .list_img ul li:hover {
  border-color: #f42424;
}

.pro .pro_p .list_move {
  height: 20px;
  margin-top: 20px;
}

.pro .pro_p .list_move .move1 {
  float: left;
  line-height: 20px;
  margin-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #d2d2d2;
}

.pro .pro_p .list_move .move1 a i {
  padding-left: 18px;
  background: url(../img/product/checkbox_12x12.png) 0 2px no-repeat;
}

.pro .pro_p .list_move .move1:hover i {
  color: #f42424;
  background: url(../img/product/checkbox_cur_12x12.png) 0 2px no-repeat;
}

.pro .pro_p .list_move .col {
  float: left;
  line-height: 20px;
  margin-left: 15px;
}

.pro .pro_p .list_move .col > .iconfont {
  font-size: 16px;
}

.pro .pro_p .list_move .col .coll {
  padding-right: 10px;
  border-right: 1px solid #d2d2d2;
}

.pro .pro_p .list_move .col .coll:hover {
  color: #f42424;
}

.pro .pro_p .list_move .col:hover .iconfont {
  color: #f42424;
}

.pro .pro_p .list_move a .jb {
  color: #438cde;
  float: right;
}

.pro .pro_p .list_move a:hover .jb {
  color: #f42424;
}

.pro .wrap {
  float: left;
  width: 600px;
  margin: 0 30px;
}

.pro .wrap form .name {
  font-size: 16px;
  color: #555;
  font-weight: 700;
  margin-bottom: 10px;
}

.pro .wrap form .summ {
  position: relative;
}

.pro .wrap form .summ .summ_wrap {
  height: 120px;
  background: url(../img/product/summary-bg.jpg) #f3f3f3 repeat-x 20px -60px;
  padding: 22px 0 12px;
}

.pro .wrap form .summ .summ_wrap .sum1 {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.pro .wrap form .summ .summ_wrap .sum1_1 {
  float: left;
  padding-left: 20px;
  width: 50px;
  margin-right: 10px;
  line-height: 24px;
  color: #8c8c8c;
}

.pro .wrap form .summ .summ_wrap .sum1 .sum1_2 {
  float: left;
  line-height: 24px;
  width: 520px;
}

.pro .wrap form .summ .summ_wrap .sum1 .sum1_2 .sum_price {
  font-size: 30px;
  height: 24px;
  line-height: 24px;
  float: left;
  margin-left: -6px;
  color: #f42424;
}

.pro .wrap form .summ .summ_wrap .sum1 .sum1_2 .sum_p {
  width: 52px;
  height: 20px;
  line-height: 20px;
  background: url(../img/product/dsc-icon.png) -296px -44px no-repeat;
  display: inline-block;
  padding-left: 8px;
  color: #fff;
  margin: 3px 0 0 8px;
  cursor: pointer;
}

.pro .wrap form .summ .summ_wrap .sum2 {
  float: left;
  line-height: 24px;
  width: 520px;
  display: flex;
  padding-left: 80px;
  color: #555555;
  margin-bottom: 5px;
}

.pro .wrap form .summ .summ_wrap .sum2 i {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  background: url(../img/product/dsc-icon.png) no-repeat;
  background-position: 0 -217px;
}

.pro .wrap form .summ .summ_wrap .sum2 .sum2_price {
  color: red;
}

.pro .wrap form .summ .summ_wrap .sum2 .sum2_2 {
  margin-left: 30px;
  color: #555;
  cursor: pointer;
}

.pro .wrap form .summ .summ_wrap .sum3 {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.pro .wrap form .summ .summ_wrap .sum3 .sum3_1 {
  color: #555;
  float: left;
  line-height: 24px;
  width: 520px;
  text-decoration: line-through;
}

.pro .wrap form .summ .summ_wrap .sum4 {
  position: absolute;
  top: 30px;
  right: 18px;
}

.pro .wrap form .summ .summ_wrap .sum4 .sum4_1 {
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 14px;
  border-right: 1px solid #d2d2d2;
}

.pro .wrap form .summ .summ_wrap .sum4 .sum4_1:nth-child(2) {
  border: 0px;
}

.pro .wrap form .summ .summ_wrap .sum4 .sum4_1 i {
  font-size: 14px;
  color: #b31919;
  margin-left: 8px;
}

.pro .wrap form .summ .summ_wrap .sum5 {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 8;
}

.pro .wrap form .summ .summ_wrap .sum5 .sum5_1 {
  color: #8c8c8c;
  line-height: 24px;
  cursor: pointer;
  text-align: right;
}

.pro .wrap form .summ .summ_wrap .sum5 .sum5_1 i {
  display: inline-block;
  vertical-align: middle;
  margin: -1px 0 0 5px;
  width: 14px;
  height: 14px;
  background-image: url(../img/product/weixin_code_634.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.pro .wrap form .summ .summ_wrap .sum5 .sum_vx {
  position: relative;
  z-index: 99;
  right: -52px;
  width: 180px;
  height: 180px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgb(204 204 204);
  text-align: center;
  margin-top: 8px;
  display: none;
}

.pro .wrap form .summ .summ_wrap .sum5 .sum_vx img {
  width: 100%;
  height: 100%;
}

.pro .wrap form .summ .summ_wrap .sum5:hover .sum_vx {
  transition: all 0.5s;
  display: block;
}

.pro .wrap form .summ .summ_wrap .sum6 {
  width: 415px;
  float: left;
}

.pro .wrap form .summ .summ_wrap .sum6 .sum6_1 {
  float: left;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: #ff6590;
  padding: 0 7px;
  position: relative;
  margin: 4px 5px 0 0;
  overflow: hidden;
}

.pro .wrap form .summ .summ_wrap .sum6 .sum6_1 .sum6_left {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #f3f3f3;
  border-radius: 50%;
  top: 4px;
  overflow: hidden;
  left: -5px;
}

.pro .wrap form .summ .summ_wrap .sum6 .sum6_1 .sum6_right {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #f3f3f3;
  border-radius: 50%;
  top: 4px;
  overflow: hidden;
  right: -5px;
}

.pro .wrap form .summ .mess {
  margin-top: 15px;
  color: #555555;
}

.pro .wrap form .summ .mess .mess_1 {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  line-height: 24px;
}

.pro .wrap form .summ .mess .mess_txt {
  float: left;
  padding-left: 20px;
  width: 50px;
  margin-right: 10px;
  line-height: 24px;
  color: #8c8c8c;
}

.pro .wrap form .summ .mess .mess_1 .mess1_1 {
  float: left;
  line-height: 24px;
  width: 520px;
}

.pro .wrap form .summ .mess .mess_1 .mess1_1 span {
  float: left;
  margin-right: 5px;
}

.pro .wrap form .summ .mess .mess_1 .mess1_1 .mess2 {
  float: left;
  position: relative;
  padding: 0 10px;
  border: 1px solid #d2d2d2;
  height: 23px;
  line-height: 23px;
  cursor: pointer;
}

.pro .wrap form .summ .mess .mess_1 .mess1_1 .mess3 {
  float: left;
  height: 25px;
  line-height: 25px;
  color: #999;
  margin-left: 10px;
}

.pro .wrap form .summ .mess .mess_1 .mess1_1 .mess3 > strong {
  font-size: 16px;
  color: #666;
}

.pro .wrap form .summ .mess .mess_1 .mess4 {
  float: left;
  line-height: 24px;
}

.pro .wrap form .summ .mess .mess_1 .mess4 a {
  color: #b31919;
}

.pro .wrap form .summ .mess .mess_1 .mian {
  line-height: 24px;
  color: #8c8c8c;
  margin-left: 10px;
}

.pro .wrap form .summ .mess .mess_1 .mess6 a {
  float: left;
  line-height: 24px;
  width: 30px;
}

.pro .wrap form .summ .mess .mess_1 .mess6 a:hover {
  color: #f42424;
}

.pro .wrap form .summ .mess .mess_1 .mess8 {
  float: left;
  line-height: 24px;
  width: 80px;
}

.pro .wrap form .summ .mess .mess_1 .mess8 input {
  border: 1px solid #d2d2d2;
  width: 28px;
  height: 28px;
  float: left;
  outline: 0;
  padding: 0 10px;
  text-align: center;
}

.pro .wrap form .summ .mess .mess_1 .mess8 .mess_btn {
  float: left;
  width: 22px;
  height: 28px;
  border: 1px solid #d2d2d2;
  border-left: 0;
}

.pro .wrap form .summ .mess .mess_1 .mess8 .mess_btn > a {
  float: left;
  width: 22px;
  height: 14px;
  line-height: 14px;
  text-align: center;
}

.pro .wrap form .summ .mess .mess_1 .kc {
  float: left;
}

.pro .wrap form .summ .mess .mess_1 .mess8 .mess_btn > a:nth-child(2) {
  height: 13px;
  border-top: 1px solid #d2d2d2;
}

.pro .wrap form .summ .mess .mess_1 .mess9 {
  float: left;
  line-height: 24px;
  width: 520px;
}

.pro .wrap form .summ .mess .mess_1 .mess9 img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: text-top;
}

.mess_11 {
  margin-bottom: 20px !important;
}

.pro .wrap form .mess_shop {
  margin-left: 60px;
  margin-top: 10px;
  padding-left: 20px;
}

.pro .wrap form .mess_shop a:nth-child(1) {
  height: 40px;
  line-height: 40px;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  padding: 0 25px;
  cursor: pointer;
  border: 0;
  margin-bottom: 10px;
  background-color: #ff8f22;
}

.pro .wrap form .mess_shop a:nth-child(2) {
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: 0;
  margin-bottom: 10px;
  background-color: #f42424;
}

.pro .wrap form .mess_shop a:nth-child(2) .iconfont {
  font-size: 18px;
}

.pro .good {
  float: left;
  width: 140px;
  height: auto;
  position: relative;
}

.pro .good .good_tit {
  text-align: center;
  height: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 10px;
}

.pro .good .good_tit h4 {
  font-size: 14px;
  padding: 0 10px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #8c8c8c;
}

.pro .good .good_tit span {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 9px;
  height: 1px;
  border-bottom: 1px dashed #e5e5e5;
}

.pro .good .good_shop {
  max-height: 550px;
  overflow: hidden;
  position: relative;
  height: 555px;
}

.pro .good .good_shop ul {
  top: 0px;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.pro .good .good_shop ul li {
  width: 140px;
  height: 180px;
  position: relative;
  margin-bottom: 5px;
}

.pro .good .good_shop ul li .good_img {
  width: 140px;
  height: 140px;
}

.pro .good .good_shop ul li .good_img img {
  width: 100%;
  height: 100%;
}

.pro .good .good_shop ul li .good_name {
  width: 100%;
  height: 20px;
}

.pro .good .good_shop ul li .good_name a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pro .good .good_shop ul li .good_price {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #f42424;
}

.pro .good .good_btn {
  text-align: center;
  font-size: 0;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
}

.pro .good .good_btn .iconfont {
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

.pro .good .good_btn .iconfont:nth-child(2) {
  font-size: 23px;
}

.move_shop {
  width: 1200px;
  margin: 0px auto;
  clear: both;
  height: 3009px;
}

.tab-right {
  width: 970px;
  height: 2989px;
  float: right;
  position: relative;
  margin-top: 20px;
}

.one {
  width: 395px;
  height: 39px;
}

.one ul li {
  width: 74px;
  height: 37px;
  border-top: 2px solid #fff;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  margin-left: -1px;
  height: 38px;
  line-height: 38px;
  border-bottom: 0;
  padding: 0 18px;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  float: left;
  position: static;
  text-align: center;
}

.on {
  border-top: 2px solid #f42424 !important;
  color: #f42424;
  border-bottom: 3px solid #fff !important;
  z-index: 999;
}

.two {
  width: 170px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
}

.two ul li {
  width: 68px;
  height: 25px;
  float: left;
  position: relative;
  font-size: 12px;
  color: #8c8c8c;
  line-height: 30px;
}

.two ul li .i {
  position: absolute;
  top: 3px;
  left: 50px;
}

.two ul li:last-child {
  width: 82px;
  height: 30px;
  background: #f42424;
  border-color: #f42424;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
  font-size: 12px;
}

.two ul li:first-child {
  position: relative;
}

.two ul li:first-child:hover .ban {
  display: block;
}

.two .ban {
  width: 180px;
  height: 180px;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgb(204 204 204);
  text-align: center;
  position: absolute;
  top: 39px;
  left: -52px;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}

.nav-xian {
  width: 100%;
  height: 2px;
  border-top: 2px solid #d2d2d2;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -30;
}

.tab-right .xian {
  width: 970px;
  height: 55px;
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 15px;
  z-index: -22;
  padding-top: 25px;
  box-sizing: border-box;
}

.tab-right .xian .hez {
  font-size: 14px;
  padding-left: 8px;
  border-left: 4px solid #f42424;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 10px;
  float: left;
}

.tab-right .title {
  width: 970px;
  height: 77px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding-bottom: 20px;
}

.tab-right .title span {
  font-size: 12px;
  color: #555555;
}

.tab-right .title span {
  width: 242px;
  height: 18px;
  display: block;
  float: left;
  margin-left: -4px;
  margin-top: 35px;
  text-indent: 6px;
}

.tab-right .title span:last-child {
  margin-top: 8px;
}

.tab-right .title span:nth-child(1) {
  display: block;
  width: 242px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-right .banner-tu {
  width: 970px;
  height: 2240px;
  cursor: pointer;
}

.tab-right .last {
  width: 970px;
  height: 483px;
  position: relative;
  margin-top: 50px;
}

.tab-right .last .xian1 {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
}

.tab-right .last .xian1 .bun {
  font-size: 14px;
  padding-left: 8px;
  border-left: 4px solid #f42424;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 10px;
  float: left;
}

.tab-right .last .xian1 ul {
  width: 476px;
  height: 32px;
  margin-left: 102px;
}

.tab-right .last .xian1 ul li {
  float: left;
  line-height: 15px;
  color: #555555;
  margin-right: 30px;
  cursor: pointer;
}

.tab-right .last .xian1 ul li:first-child {
  color: #f42424;
}

.tab-right .last .xian1 ul li:hover {
  color: #f42424;
}

.tab-right .last .thead {
  width: 100%;
  height: 35px;
  border-bottom: 1px dotted #dcdcdc;
  margin-top: 15px;
  padding-left: 35px;
  box-sizing: border-box;
}

.tab-right .last .thead ul li {
  float: left;
  font-size: 12px;
  color: #555555;
  line-height: 33px;
  text-align: center;
}

.tab-right .last .thead ul li:first-child {
  width: 495px;
  height: 35px;
  text-align: left;
}

.tab-right .last .thead ul li:nth-child(2) {
  width: 80px;
  height: 35px;
}

.tab-right .last .thead ul li:nth-child(3) {
  width: 80px;
  height: 35px;
}

.tab-right .last .thead ul li:nth-child(4) {
  width: 150px;
  height: 35px;
}

.tab-right .last .thead ul li:nth-child(5) {
  width: 130px;
  height: 35px;
}

.tab-right .last .icon {
  width: 100%;
  height: 310px;
  padding: 70px 0 70px 398px;
  box-sizing: border-box;
}

.tab-right .last .icon p {
  font-size: 14px;
  color: #8c8c8c;
  text-indent: 3.5em;
  line-height: 71px;
}

.tab-right .last .more {
  width: 970px;
  height: 30px;
  border-top: 5px solid #f8f8f8;
}

.tab-right .last .more span {
  display: block;
  width: 114px;
  height: 28px;
  margin: 0px auto;
  padding: 0 12px;
  box-sizing: border-box;
  background: #f8f8f8;
  cursor: pointer;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 24px;
}

.tab-right .last .more span:hover {
  color: red;
}

.tab-right .last .more span i {
  font-size: 16px;
}

.box {
  position: absolute;
  top: 39px;
  left: 0;
  display: none;
}

.box1 {
  display: block !important;
}

.tab-right .xian2 {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  margin-top: 35px;
}

.tab-right .xian2 .bun2 {
  font-size: 14px;
  padding-left: 8px;
  border-left: 4px solid #f42424;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 10px;
  float: left;
}

.tab-right .xian2 ul {
  width: 476px;
  height: 32px;
  margin-left: 102px;
}

.tab-right .xian2 ul li {
  float: left;
  line-height: 15px;
  color: #555555;
  margin-right: 30px;
  cursor: pointer;
}

.box .thr {
  width: 970px;
  height: 76px;
  border-bottom: 1px solid #d2d2d2;
}

.box .thr .from {
  width: 185px;
  height: 60px;
  padding-left: 30px;
  margin-top: 6px;
  box-sizing: border-box;
  border-right: 1px solid #d2d2d2;
  position: relative;
  float: left;
}

.box .thr .from span {
  display: inline-block;
  height: 48px;
  line-height: 30px;
  font-weight: normal;
}

.box .thr .from span:last-child {
  color: #8c8c8c;
  font-size: 12px;
}

.box .thr .from span .bai {
  font-size: 20px;
  color: #f42424;
}

.box .thr .from span .zui {
  font-size: 48px;
  color: #f42424;
}

.box .thr .from .line {
  position: absolute;
  top: 6px;
  left: 126px;
}

.box .thr .from2 {
  width: 690px;
  height: 50px;
  float: left;
  margin-top: 12px;
  padding-left: 85px;
  box-sizing: border-box;
}

.box .thr .from2 .img-div {
  width: 70px;
  height: 100%;
  background: url(../img/product/cha.png) no-repeat;
  float: left;
}

.box .thr .from2 span {
  font-size: 14px;
  color: #8c8c8c;
  float: left;
  line-height: 54px;
}

.box .db {
  width: 930px;
  height: 124px;
  margin-left: 40px;
  border-bottom: 1px dotted #dcdcdc;
  overflow: hidden;
  padding: 28px 0 20px;
  box-sizing: border-box;
}

.box .db .dt {
  width: 50px;
  height: 74px;
  float: left;
  margin-right: 25px;
}

.box .db .dt .dt-img {
  width: 50px;
  height: 50px;
}

.box .db .dt span {
  font-size: 12px;
  color: #8c8c8c8c;
  margin-left: 10px;
}

.box .min {
  width: 855px;
  height: 18px;
  float: left;
}

.box .min:nth-child(2) {
  width: 855px;
  height: 20px;
  float: left;
}

.box .min:nth-child(3) {
  width: 855px;
  height: 22px;
  float: left;
}

.box .min .sp {
  float: left;
  display: block;
  width: 60px;
  height: 12px;
  background: url(../img/product/dsc-icon.png) no-repeat;
  background-position: -298px -17px;
}

.box .min .osp {
  float: right;
  color: #8c8c8c;
  font-size: 12px;
}

.box .min .op {
  font-size: 14px;
}

.box .min .op2 {
  display: block;
  float: right;
  width: 16px;
  height: 24px;
  background: url(../img/product/zan.png) no-repeat;
}

.box .min .op3 {
  float: right;
  font-size: 12px;
  line-height: 24px;
}

.box .xian2 ul li:first-child {
  color: #f42424;
}

.box .xian2 ul li:hover {
  color: #f42424;
  cursor: pointer;
}

.move_shop .move_left {
  width: 200px;
  height: 2989px;
  float: left;
  margin-top: 20px;
}

.move_shop .move_left .mo_1 {
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
  width: 198px;
  background-color: #fff;
}

.mo_tit {
  height: 38px;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  background-color: #f8f8f8;
}

.move_shop .mo_tit h3 {
  font-size: 14px;
  line-height: 38px;
  font-weight: bold;
  color: #555;
  padding-left: 14px;
  float: left;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.move_shop .move_left .mo_1 .mo_tit a {
  float: left;
  margin: 6px 0 0 5px;
}

.move_shop .move_left .mo_1 .mo_tit a i {
  display: inline-block;
  width: 26px;
  height: 21px;
  background-image: url(../img/product/dsc-icon.png);
  background-position: -260px 0;
}

.move_shop .move_left .mo_1 .mo_con {
  text-align: center;
  padding: 20px 14px;
}
.move_shop .move_left img {
  max-width: 150px;
}
.move_shop .move_left .mo_1 .mo_con1 {
  position: relative;
  padding: 0 14px;
}
.move_shop .move_left .mo_1 .mo_con1 ul {
  padding: 5px 0;
}
.move_shop .move_left .mo_1 .mo_con1 ul .mo_li {
  line-height: 28px;
}
.move_shop .move_left .mo_1 .mo_con1 ul .mo_li a {
  color: #8c8c8c;
  display: block;
  padding-left: 10px;
  background: url(../img/product/spirit.jpg) 0 12px no-repeat;
}
.move_shop .move_left .mo_1 .mo_con1 ul .mo_li a:hover {
  color: #f42424;
}
.move_shop .move_left .tit {
  padding-left: 1px;
  height: 38px;
  border-bottom: 1px solid #d2d2d2;
}
.move_shop .move_left .tit li {
  border: 1px solid #d2d2d2;
  border-bottom: 0;
  height: 38px;
  line-height: 38px;
  width: 67px;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-left: -1px;
  cursor: pointer;
  box-sizing: border-box;
}
.tit_li {
  border-top: 2px solid #f42424;
  background-color: #fff;
  width: 66px;
  height: 37px;
  color: #f42424;
}
.move_shop .move_left .mo_mo .new_mo {
  border: 1px solid #d2d2d2;
  border-top: 0;
  padding: 23px 14px 0;
  overflow: hidden;
  display: none;
}
.move_shop .move_left .mo_mo .new_mo .new_left {
  float: left;
  width: 25px;
  position: relative;
}
.move_shop .move_left .mo_mo .new_mo .new_left .new_xian {
  width: 1px;
  height: calc(100% - 60px);
  border-left: 1px dashed #d2d2d2;
  position: absolute;
  left: 12px;
  top: 53px;
  z-index: 1;
}
.move_shop .move_left .mo_mo .new_mo .new_left ul li {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  border-radius: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 3;
  margin-bottom: 168px;
}
.move_shop .move_left .mo_mo .new_mo .new_left ul li:nth-child(1) {
  margin-top: 53px;
  background-color: #f42424;
}
.move_shop .move_left .mo_mo .new_mo .new_left ul li:nth-child(2) {
  background-color: #f42424;
}
.move_shop .move_left .mo_mo .new_mo .new_left ul li:nth-child(3) {
  background-color: #f42424;
}
.move_shop .move_left .mo_mo .new_mo .new_left ul li:last-child {
  margin-bottom: 0;
}
.move_shop .move_left .mo_mo .new_mo .new_right {
  float: right;
  width: 130px;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul {
  margin-top: 20px;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul li {
  margin-bottom: 15px;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul li .new_img {
  width: 130px;
  height: 130px;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul li .new_img img {
  width: 100%;
  height: 100%;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul li .new_name {
  margin-top: 5px;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul li .new_price {
  font-size: 14px;
  height: 20px;
  color: #f42424;
}
.new_moa {
  display: block !important;
}
.move_shop .move_left .mo_mo .mo_his {
  border: 1px solid #d2d2d2;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 198px;
  background-color: #fff;
}
.move_shop .move_left .mo_mo .mo_his .mo_tit a {
  color: #438cde;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.move_shop .move_left .mo_mo .mo_his .mo_cona {
  text-align: center;
  padding: 50px 14px;
  line-height: 25px;
}
.move_shop .move_left .mo_mo .mo_his .mo_cona a {
  color: #438cde;
}
.move_shop .move_left .mo_mo .mo_his .mo_cona a:hover {
  color: #f42424;
}
.move_shop .move_left .mo_mo .mo_his .mo_hisa:hover {
  color: #f42424;
}
.move_shop .move_left .mo_mo .new_mo .new_right ul li .new_name:hover {
  color: #f42424;
  cursor: pointer;
}
.like_tit {
  overflow: hidden;
  padding: 0 0 20px;
  height: 35px;
  background: url(../img/product/dian-ico.png) repeat-x 0 18px;
  text-align: center;
  font-size: 21px;
  line-height: 33px;
}
.like_tit h3 {
  display: inline;
  padding: 0 50px;
  background-color: #fff;
  font-weight: 400;
  font-size: 21px;
  color: #555;
  line-height: 33px;
  text-align: center;
}
.like {
  width: 1210px;
  height: 284px;
  margin: 0px auto;
}
.like li {
  float: left;
  width: 230px;
  margin-right: 10px;
  text-align: center;
}
.like li .like_img {
  width: 232px;
  height: 232px;
}
.like li img {
  width: 100%;
  height: 100%;
}
.like li .like_name {
  width: 100%;
  margin-top: 5px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #555555;
}
.like li .like_price {
  margin-top: 5px;
  font-size: 16px;
  color: #f42424;
}
