header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  box-sizing: content-box;
}
.header {
  width: 100%;
  height: 30px;
  background-color: #eee;
}
.header .head1 {
  width: 1200px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #8c8c8c;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl {
  width: 183px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .city {
  width: 72px;
  height: 30px;
  text-indent: 2em;
  position: relative;
  border: 1px solid transparent;
}
.header .head1 .fl .city .bai {
  width: 445px;
  height: 238px;
  position: absolute;
  top: 30px;
  left: -1px;
  background-color: white;
  border: 1px solid #d2d2d2;
  display: none;
  z-index: 1;
}
.header .head1 .fl .city .zhong {
  width: 72px;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 10;
}
.header .head1 .fl .city:hover .zhong {
  display: block;
}
.header .head1 .fl .city:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid #d2d2d2;
}
.header .head1 .fl .city:hover .bai {
  display: block;
}
.header .head1 .fl .city::after {
  content: "";
  width: 20px;
  height: 26px;
  background: url(../img/header/1.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 3px;
}
.header .head1 .fl .info {
  width: 96px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .fl .info i a {
  color: #f42828;
}
.header .head1 .fl .info span a {
  color: #8c8c8c;
}
.header .head1 .fl .info span a:hover {
  color: #f42828;
}
.header .head1 .spa {
  width: 374px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo {
  width: 62px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.header .head1 .spa .fm {
  position: relative;
}
.header .head1 .spa .fm::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: -5px;
}
.header .head1 .spa .fuo:last-child p {
  background: url(../img/header/2.png) no-repeat;
  width: 14px;
  height: 9px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 2px;
}
.header .head1 .spa .fuo a {
  color: #8c8c8c;
}
.header .head1 .spa .fuo a:hover {
  color: #f42828;
}
.header .head1 .spa .fuo:last-child {
  width: 82px;
  text-align: start;
  text-indent: 1em;
  color: #8c8c8c;
  border: 1px solid transparent;
}
.header .head1 .spa .fuo:last-child .xia {
  width: 380px;
  height: 0px;
  position: absolute;
  background-color: #fff;
  top: 30px;
  right: -1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
.header .head1 .spa .fuo:last-child:hover {
  border: 1px solid #d2d2d2;
  background-color: white;
}
.header .head1 .spa .fuo:last-child:hover .xia {
  height: 158px;
  border: 1px solid #d2d2d2;
}
.header .head1 .spa .fuo:last-child .zx {
  width: 82px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  display: none;
  background-color: white;
  z-index: 99;
}
.header .head1 .spa .fuo:last-child:hover .zx {
  display: block;
}
.header .head1 .spa .fuo:last-child .xia .mian {
  width: 380px;
  height: 120px;
  display: flex;
  justify-content: space-between;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu {
  width: 116px;
  height: 120px;
  border-right: 1px solid #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes {
  width: 85px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .zu .tes:first-child {
  font-weight: 700;
  color: #666;
}
.header .head1 .spa .fuo:last-child .xia .mian span:hover {
  color: #f42828;
  cursor: pointer;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu {
  width: 225px;
  height: 120px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh {
  width: 225px;
  height: 30px;
  line-height: 30px;
  display: flex;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh span {
  width: 75px;
  height: 30px;
}
.header .head1 .spa .fuo:last-child .xia .mian .yu .youh:first-child {
  font-weight: 700;
  color: #666;
}
header {
  width: 100%;
  height: 100px;
  padding-bottom: 10px;
  background-color: #fff;
}
header .header1 {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
header .header1 .logo {
  width: 189px;
  height: 57px;
  padding: 21.5px 0px;
  float: left;
}
header .header1 .logo .logo1 {
  width: 159px;
  height: 57px;
}
header .header1 .inp {
  width: 546px;
  height: 64px;
  float: left;
  margin: 30px 0 0 78px;
  position: relative;
}
header .header1 .inp .inp1 {
  width: 546px;
  height: 34px;
}
header .header1 .inp .inp1 input {
  font-size: 12px;
  width: 394px;
  height: 30px;
  border: 2px solid #f42424;
  outline: 0;
  text-indent: 1em;
  float: left;
}
header .header1 .inp .inp1 button {
  width: 70px;
  height: 34px;
  line-height: 34px;
  background-color: #f42424;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border: 0;
  float: left;
}
header .header1 .inp .inp1 button:nth-child(3) {
  margin-left: 8px;
  background-color: #b31919;
}
header .header1 .inp ul {
  width: 546px;
  height: 30px;
}
header .header1 .inp ul li {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  font-size: 12px;
}
header .header1 .inp ul li a {
  color: #999;
}
header .header1 .inp ul li a:hover {
  color: #e23435;
}
header .header1 .inp2 {
  width: 180px;
  height: 35px;
  margin-top: 30px;
  float: right;
  position: relative;
}
header .header1 .inp2 div:nth-child(1) {
  width: 178px;
  height: 33px;
  line-height: 33px;
  position: relative;
  border: 1px solid #d2d2d2;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(1) a {
  display: block;
  color: #f42424;
}
header .header1 .inp2 div:nth-child(1) a i {
  width: 20px;
  height: 22px;
  margin-top: 5.5px;
  margin-left: 30px;
  font-size: 20px;
  float: left;
  display: inline;
  background: url(../img/header/购物车.png) no-repeat 0 0;
  background-size: contain;
}
header .header1 .inp2 div:nth-child(1) a span {
  margin-left: 8px;
}
header .header1 .inp2 div:nth-child(1) a em {
  width: 13px;
  height: 13px;
  line-height: 13px;
  padding: 1px;
  border-radius: 50%;
  background: #f42424;
  color: #fff;
  position: absolute;
  top: 6px;
  left: 122px;
  text-align: center;
  font-size: 12px;
}
header .header1 .inp2 div:nth-child(2) {
  width: 256px;
  height: 68px;
  background-color: red;
  border: 1px solid #d2d2d2;
  padding: 20px 20px 20px 36px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 1;
  display: none;
}
header .header1 .inp2 div:nth-child(2) b {
  width: 110px;
  height: 68px;
  background: url(../img/header/cart-nogoods.png) no-repeat;
  display: block;
  float: left;
}
header .header1 .inp2 div:nth-child(2) p {
  width: 178px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 134px;
}
header .header1 .inp2 div:nth-child(2) span {
  float: left;
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  margin: 6px 0 0 14px;
  line-height: 25px;
  width: 132px;
}
header .header1 .inp2:hover .block {
  display: block;
}
body {
  background-color: #f8f8f8;
}

.AG {
  width: 100%;
  height: 130px;
  margin: 0 auto;
}

.AG_enter {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: #f8f8f8;
}

.AG_enter .AG_enter_c1 {
  width: 159px;
}

.AG_enter_c1 > img {
  width: 100%;
}

.AG_enter > span {
  font-size: 16px;
  color: #666;
  margin-left: 6px;
}

.AG_enter_c2 > span:nth-child(1) {
  font-size: 14px;
  margin-left: 650px;
}

.AG_enter_c2 > span:nth-child(2) > a {
  font-size: 14px;
  color: red;
  text-decoration: wavy;
}

.GK {
  width: 1200px;
  height: 565px;
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.GK_big_put {
  position: absolute;
  top: 110px;
  left: 76px;
  width: 400px;
  height: 324px;
  background: url(../img/register/1488939821671881226.jpg);
}

.gk_p1,
.gk_p2,
.gk_p3,
.gk_p4,
.gk_p5 {
  position: absolute;
  top: 50px;
  font-size: 16px;
  color: #999;
  right: 480px;
}

.gk_p2 {
  position: absolute;
  top: 125px;
}

.gk_p3 {
  position: absolute;
  top: 195px;
}

.gk_p4 {
  position: absolute;
  top: 265px;
}

.gk_p5 {
  position: absolute;
  top: 335px;
}

.gk_inp1,
.gk_inp2,
.gk_inp3,
.gk_inp4,
.gk_inp5 {
  width: 335px;
  height: 37px;
  position: absolute;
  top: 40px;
  right: 100px;
  font-size: 12px;
  padding-left: 15px;
  border: 0.1px solid #999;
}

.gk_inp2 {
  top: 118px;
}

.gk_inp3 {
  top: 186px;
}

.gk_inp4 {
  top: 258px;
}

.gk_inp5 {
  top: 326px;
}

.gk_sp1 {
  position: absolute;
  width: 150px;
  height: 37px;
  top: 119px;
  right: 99px;
}

.gk_sp1 > img {
  width: 100%;
  height: 100%;
}

.gk_sp2 {
  position: absolute;
  background-color: rgb(243, 241, 241);
  width: 70px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  top: 189px;
  right: 104px;
}

.gk_shi1 {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 408px;
  right: 434px;
}

.gk_img1 {
  width: 100%;
  height: 100%;
}

.gk_img2 {
  width: 100%;
  height: 100%;
  display: none;
}

.gk_sp3 {
  position: absolute;
  top: 408px;
  font-size: 13px;
  color: rgb(99, 98, 98);
  right: 332px;
}

.gk_sp4 {
  position: absolute;
  top: 408px;
  font-size: 13px;
  color: rgb(99, 98, 98);
  right: 191px;
}

.gk_sp4:hover {
  color: red;
}

.gk_register {
  position: absolute;
  top: 450px;
  right: 101px;
  width: 348px;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  height: 50px;
  background-color: red;
  opacity: 1;
}

.gk_register:hover {
  opacity: 0.5;
}

.GK_1 {
  width: 1200px;
  height: 230px;
  position: relative;
  margin: 0 auto;
}

.GK_1 p {
  width: 500px;
  position: absolute;
  font-size: 13px;
  top: 56px;
  left: 306px;
  color: #999;
  height: 20px;
}

.GK_1 p a {
  font-size: 13px;
  color: #999;
}

.GK_1 span {
  width: 294px;
  position: absolute;
  font-size: 13px;
  top: 96px;
  left: 398px;
  color: #999;
  height: 20px;
}

.GK_1 span a {
  font-size: 13px;
  color: #999;
}

.GK_1 .gk_t1 {
  width: 294px;
  position: absolute;
  font-size: 13px;
  top: 127px;
  left: 430px;
  color: #999;
  height: 20px;
}

.gk_t1 .gk_sp5 {
  position: absolute;
  top: 0px;
  left: 93px;
  color: #999;
  font-size: 13px;
}

.GK_1 i {
  width: 450px;
  position: absolute;
  font-size: 13px;
  top: 163px;
  left: 328px;
  color: #999;
  height: 20px;
}

.GK_1 i a {
  color: #999;
  font-size: 13px;
}

.GK_1 p a:hover {
  color: red;
}

.GK_1 span a:hover {
  color: red;
}

.GK_1 i a:hover {
  color: red;
}

.gk_sp5:hover {
  color: red;
}
