@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1660375982410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huazhuangpin:before {
  content: "\345c";
}

.icon-jiayongdianqi:before {
  content: "\e62b";
}

.icon-diannao:before {
  content: "\e6a2";
}

.icon-xiangji:before {
  content: "\e60e";
}

.icon-fuzhuang-duanxiu:before {
  content: "\e608";
}

.icon-chuang:before {
  content: "\e60f";
}

.icon-SHOES:before {
  content: "\e512";
}

